body {
    background-color: rgb(255, 255, 255);
}

.titulo, .subtitulo {
    text-align: center;
    color: black;
}

.subtitulo {
    color: red; /* Aquí corregí el error de 're' a 'red' */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#videoContainer {
    text-align: center; /* Esto centra el video */
    margin-top: 20px;
}

.oculto {
    display: none;
}

/* Centrar el texto del parrafo */
p {
    text-align: center;
    font-size: 18px; /* ajuste del tamaño de la fuente */ 
}
